HOST=localhost  # string — default: localhost
PORT=3000  # number — default: 3000
NODE_ENV=development  # "development" | "production" — default: development
DATABASE_URL=  # string (url) — required
ENABLE_REQUEST_LOGGING=false  # boolean — default: false
